/* Set global styles */


body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(53, 53, 53); 
  }
  
  
  /* Style the header */
  header {
    padding: 20px;
    background-color: #484848;
    color: rgb(136, 136, 136);
    
  }
  header img {
    align-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
<<<<<<< Updated upstream
    padding: 25px 30px;
=======
  }
  
  .navbar{
    
    padding: 25px 30px;
    background-color: rgb(57, 57, 57);
>>>>>>> Stashed changes
    height: 40px;
  }

  #about{
    width: 700px;
  }
  /* Style the sections */
  section {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-content: center;
    padding: 20px;
    border-radius: 5px;
    background: #424242;
    box-shadow:  5px 5px 10px #1a1a1a,
                 -5px -5px 10px #2e2e2e;
  }
  
  a:visited { 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
   }
  section h2 {
    
    color: white;
    width: 150px;
    align-content: center;
    
             border-bottom-left-radius: 5px;
             border-top-right-radius: 5px;
             background: #333;
             box-shadow:  20px 20px 20px  #191919,
                          -20px -20px 22px #3e3e3e;
    
  }
  
  
  section ul {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    margin-bottom: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    padding: 20px; 
  }
  .instabtn{
        cursor: pointer;
        padding: 0.8em 1.8em;
        border: 2px solid #ffffff;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #ffffff;
       }
       
      
       
       button:hover::before {
        width: 105%;
       }
       
       button:hover {
        color: #111;
       }
    .gitbtn{
        cursor: pointer;
        padding: 0.8em 1.8em;
        border: 2px solid #ffffff;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #ffffff;
       }
       
      
       
       
       button:hover::before {
        width: 105%;
       }
       
       button:hover {
        color: #111;
       }
    .linkedinbtn{
      cursor: pointer;
        padding: 0.8em 1.8em;
        border: 2px solid #ffffff;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #ffffff;
       }

       
       button:hover::before {
        width: 105%;
       }
       
       button:hover {
        color: #111;
       }
   
  
  
  /* Make the page responsive */
  @media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    header img {
      margin: 0 0 20px 0;
    }
    section{
      flex-direction: column;
    }
    #navbar{
      flex-direction: column;
    }
    .shadow__btn {
      margin-left: 2px;
      margin-right: 2px;
      cursor: pointer;
      padding: 5px 10px;
      border: none;
      font-size: 10px;
      color: #ffffff;
      border-radius: 7px;
      letter-spacing: 4px;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.5s;
      transition-property: box-shadow;
    }
    
    .shadow__btn {
      background: rgb(74, 74, 74);
      box-shadow: 0 0 25px rgb(41, 41, 41);
    }
    #about{
      width: 100%;
    }
<<<<<<< Updated upstream
=======

    .navbar a{display: none;}
    
    .navbar a.icon {
      float: right;
      display: block;
    }
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
>>>>>>> Stashed changes
  }

  